{% extends "dashboard/base_dashboard.html" %}{% load static compress %}

{% block css %}
    {{ block.super }}
    {% compress css %}
        <link href="{% static 'css/chat.css' %}" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class='content'>
        <div class='container-fluid'>
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='card'>
                        <div class='header'>
                            <h4 class='title'>Users</h4>
                        </div>
                        <div class='content'>
                            <div class='list-group' id='user-list'>
                                {% for user, unread_count in user_dict.items %}
                                <a href="#" class="list-group-item list-group-item-action justify-content-between" id='u{{ user.id }}'>
                                    {{ user }}

                                    <span class="badge badge-default badge-pill"
                                          {% if unread_count == 0 %}
                                          style='display: none'
                                          {% endif %}
                                    >
                                        {{ unread_count }}
                                    </span>

                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-9'>
                    <div class='card'>
                        <div class='header'>
                            <h4 class='title'>Messages</h4>
                        </div>
                        <div class='content'>
                            <div class='well pre-scrollable message-list-container' style='height: 315px'>
                                <div id='message-list'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form id='message-form' autocomplete='off'>
                <div class='row'>
                    <div class='col-xs-10'>
                        <input class='form-control' type='text' placeholder='Say something nice' id='message-input'>
                    </div>
                    <div class='col-xs-2 text-center'>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'js/chat.js' %}"></script>
    {% endcompress %}
{% endblock javascript %}
