{% extends "base.html" %}{% load static compress %}


{% block content %}
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-sm-3'>
                <div class='card'>
                    <div class='header'>
                        <h4 class='title'>Users</h4>
                        <div class='list-group' id='user-list'>
                            {% for user in user_list %}
                            <a href="#" class="list-group-item list-group-item-action" id='u{{ user.id }}'>{{ user }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-sm-9'>
                <div class='card'>
                    <div class='header'>
                        <h4 class='title'>Messages</h4>
                        <div id='message-list'></div>
                    </div>
                </div>
            </div>
        </div>
        <form id='message-form'>
            <div class='form-group row'>
                <div class='col-10'>
                    <input class='form-control' type='text' placeholder='Say something nice' id='message-input'>
                </div>
                <div class='col-2'>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static 'js/chat.js' %}"></script>
    {% endcompress %}
{% endblock javascript %}
