{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% load compress %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                {% block form_content %}

                {% endblock %}
                <div class="col-md-4">
                    <div class="card card-user">
                        <div class="image">
                            <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400"
                                 alt="..."/>
                        </div>
                        <div class="content">
                            <div class="author">
                                <a href="{% url 'users:detail' user.username %}">
                                    <img class="avatar border-gray" src="{% static 'img/faces/face-3.jpg' %}"
                                         alt="..."/>

                                    <h4 class="title">{{ user.first_name }}<br/>
                                        <small>{{ user.username }}</small>
                                    </h4>
                                </a>
                            </div>
                            <p class="description text-center"> {{ user.bio }}
                            </p>
                        </div>
                        <hr>
                        <div class="text-center">
                            <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                            <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                            <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% compress css %}

    <style type="text/css">
        form {
            margin: 20px 0;
        }

        form input, button {
            padding: 5px;
        }

        table {
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid #cdcdcd;
        }

        table th, table td {
            padding: 10px;
            text-align: left;
        }
    </style>

{% endcompress %}


{% compress js %}

    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".add-row").click(function () {
                var name = $("#name").val();
                var email = $("#email").val();
                var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + name + "</td><td>" + email + "</td></tr>";
                $("table tbody").append(markup);
            });

            // Find and remove selected table rows
            $(".delete-row").click(function () {
                $("table tbody").find('input[name="record"]').each(function () {
                    if ($(this).is(":checked")) {
                        $(this).parents("tr").remove();
                    }
                });
            });
        });
    </script>

{% endcompress %}
