{% extends 'dashboard/dashboard_edit.html' %}

{% block form_content %}
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">Edit Schedule</h4>
            </div>
            <div class="content">
                <form method="post" action="{% url 'dashboard:edit_schedule' %}">
                    {% csrf_token %}

                    {#                    {% if courses %}#}


                    <select name="" type="select" id="subject">
                        <OPTION value="Monday">Monday</OPTION>
                        <OPTION value="Tuesday">Tuesday</OPTION>
                        <OPTION value="Wednesday">Wednesday</OPTION>
                        <OPTION value="Thursday">Thursday</OPTION>
                        <OPTION value="Friday">Friday</OPTION>
                        <OPTION value="Saturday">Saturday</OPTION>
                        <OPTION value="Sunday">Sunday</OPTION>

                    </select>

                    <input type="submit" class="add-row" value="Add Day Available" name="create">


                    <table>
                        <thead>
                        <tr>
                            <th>Select</th>
                            <th>Subject</th>
                        </tr>
                        </thead>
                        {% if courses %}
                            {% for course in courses.all %}
                                <tr>
                                    <td>
                                        <button type="submit" class="delete-row" name="delete" value="{{ course.id }}">
                                            Delete Row
                                        </button>
                                    </td>
                                    <td>{{ course.subject }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endif %}


                    </table>
                    {#                    {% endif %}#}

                </form>
                <style type="text/css">
                    form {
                        margin: 20px 0;
                    }

                    form input, button {
                        padding: 5px;
                    }

                    table {
                        width: 100%;
                        margin-bottom: 20px;
                        border-collapse: collapse;
                    }

                    table, th, td {
                        border: 1px solid #cdcdcd;
                    }

                    table th, table td {
                        padding: 10px;
                        text-align: left;
                    }
                </style>

            </div>
        </div>
    </div>

{% endblock %}
