{% extends 'dashboard/dashboard_edit.html' %}
{% block form_content %}
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">Edit Schedule</h4>
            </div>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    <table>
                        <thead>
                        <tr>
                            <th>Available?</th>
                            <th>Day of Week</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td>Monday</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Tuesday</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Wednesday</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Thursday</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Friday</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Saturday</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Sunday</td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="submit" name="update"></button>
                </form>

                <style type="text/css">
                    form {
                        margin: 20px 0;
                    }

                    form input, button {
                        padding: 5px;
                    }

                    table {
                        width: 100%;
                        margin-bottom: 20px;
                        border-collapse: collapse;
                    }

                    table, th, td {
                        border: 1px solid #cdcdcd;
                    }

                    table th, table td {
                        padding: 10px;
                        text-align: left;
                    }
                </style>



            </div>
        </div>
    </div>

{% endblock %}
