{% extends 'dashboard/dashboard_edit.html' %}
{% block form_content %}
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">Edit Courses</h4>
            </div>
            <div class="content">
                <form method="post">
                    {% csrf_token %}

                    {% if courses %}


                        {% endif %}


                </form>
            </div>
        </div>
    </div>

{% endblock %}
