{% extends 'dashboard/edit_profile.html' %}
{% block form_content %}
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">Edit Courses</h4>
            </div>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    <div>
                        {% if courses %}
                            <td>


                            </td>
                        {% endif %}
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
