<!DOCTYPE html>
<html>
<head>
  <title>Profile-Page</title>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <h1 class="well">Tutor Registration Form</h1>
	
	<div class="row">
				<form method="post" action="">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>College Name</label>
								<input type="text" placeholder="Enter College Name Here.." class="form-control" name="college_name">
							</div>
							<div class="col-sm-6 form-group">
								<label>Phone Number</label>
								<input type="text" placeholder="Enter Phone Number Here.." class="form-control" name="phone_number">
							</div>
							
						</div>					
						
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>GPA</label>
								<input type="text" placeholder="Enter City Name Here.." class="form-control" name="gpa">
							</div>	
							<div class="col-sm-6 form-group">
								<label>Major</label>
								<input type="text" placeholder="Enter State Name Here.." class="form-control" name="major_title">
							</div>	
									
						</div>

						<!-- Courses input -->
						<div class="row">
							<div class="col-sm-6 form-group">

								<label>Course #1</label>
								<input type="text" placeholder="Enter Designation Here.." class="form-control" name="first_course">
							</div>		
							<div class="col-sm-6 form-group">
							<label>Course #2</label>
								<input type="text" placeholder="Enter Company Name Here.." class="form-control" name="second_course">
							</div>	
							<div class="col-sm-6 form-group">
							<label>Course #3</label>
								<input type="text" placeholder="Enter Company Name Here.." class="form-control" name="third_course">
							</div>	
							<div class="col-sm-6 form-group">
							<label>Course #4</label>
								<input type="text" placeholder="Enter Company Name Here.." class="form-control" name="fourth_course">
							</div>	
							<div class="col-sm-6 form-group">
							<label>Course #5</label>
								<input type="text" placeholder="Enter Company Name Here.." class="form-control" name="fifth_course">
							</div>	
						</div>						
						
					
					<button type="Submit" class="btn btn-lg btn-info">Submit</button>					
					</div>
				</form> 
				</div>
	
	</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script type="text/javascript" scr="complete_profile.js"></script>

</body>
</html>