{% extends "base_nectr.html" %}
{% load staticfiles i18n compress %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/search_results.css' %}">
{% endblock css %}
{% block banner_content %}
    <!-- Banner -->
    <!-- Note: The "styleN" class below should match that of the header element. -->
    <section id="banner" class="style2">
        <div class="inner">
      <span class="image">
        <img src="images/pic07.jpg" alt=""/>
      </span>
            <header class="major noline align-center">
                <h2>What do you need help with?</h2>
            </header>
        </div>
    </section>
{% endblock banner_content %}
{% block content %}
    <div>
        <article class="padding-search" style="padding-left:15%;padding-top: 5%;padding-bottom: 10%;padding-right: 0%;">
            <section id="one">
                <form method="GET">
                    <div class="inner">
                        <div class="row">
                            <div class="col-md-8">
                                <input id="searchbar" type="text" name="search_text"
                                       placeholder="Search for our courses...">
                            </div>
                            <div class="col-md-4">
                                <div>

                                    <input type="submit" id="search_button" class="btn red" name="search_button">

                                </div>
                            </div>
                        </div>
                    </div>
                    {% csrf_token %}
                </form>
            </section>
        </article>
    </div>
    <div id="search_results">
        {% for tutor in tutors %}
            <article class="thumb">
                <a href="images/fulls/01.jpg" class="image"><img src="{% static 'images/testing/thumbs/01.jpg' %}"
                                                                 alt=""/></a>
                <h2>{{ tutor.name }}</h2>
                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
            </article>

        {% endfor %}
    </div>
{% endblock content %}
{% block javascript %}
    <script src="{% static 'js/search/jquery.poptrox.min.js' %}"></script>
    <script src="{% static 'js/search/util.js' %}"></script>
    <script src="{% static 'js/search/main.js' %}"></script>
{% endblock javascript %}
