{% extends "base_nectr.html" %}
{% load staticfiles i18n compress %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/search_results.css' %}">
{% endblock css %}
{% block banner_content %}
    <!-- Banner -->
    <!-- Note: The "styleN" class below should match that of the header element. -->
    <section id="banner" class="style2">
        <div class="inner">
      <span class="image">
        <img src="images/pic07.jpg" alt=""/>
      </span>
            <header class="major noline align-center">
                <h2>What do you need help with?</h2>
            </header>
        </div>
    </section>
{% endblock banner_content %}
{% block content %}
    <div>
        <article class="padding-search" style="padding: 5% 10% 5% 10%;">
            <section id="one">
                <form method="GET">
                    <div class="inner">
                        <div class="row">
                            <div class="col-md-8">
                                <input id="searchbar" type="text" name="search_text"
                                       placeholder="Search for our courses..." value="{{ request.search_text }}">
                            </div>
                            <div class="col-md-4">
                                <div>

                                    <input type="submit" id="search_button" class="btn red" name="search_button">

                                </div>
                            </div>
                        </div>
                    </div>
                    {% csrf_token %}
                </form>
            </section>
        </article>
    </div>
    {% block search_results %}
        {% if tutors %}
            {% for tutor in tutors %}
                <article class="individual_tutor_result">
                    <h2>{{ tutor.user.username }}</h2>
                    <p>{{ tutor.bio }}</p>
                    <ul>
                        {% for courses in tutor.courses.all %}
                            <li class="course_name_listing">{{ courses.course_name }}</li>
                        {% endfor %}
                    </ul>
                    <form method="get" action="{% url 'users:detail' tutor.user.username %}">
                        <input type="submit" value="Tutor Profile">
                    </form>
                </article>
            {% endfor %}
        {% else %}
            <div id="no_results">
                <article>
                    <h1>There are no results for {{ search_text }}</h1>
                </article>
            </div>
        {% endif %}

    {% endblock search_results %}
{% endblock content %}
{% block javascript %}
    <script src="{% static 'js/search/jquery.poptrox.min.js' %}"></script>
    <script src="{% static 'js/search/util.js' %}"></script>
    <script src="{% static 'js/search/main.js' %}"></script>
{% endblock javascript %}
