{% extends "base_nectr.html" %}
{% load staticfiles i18n compress %}
{% block css %}

{% endblock css %}
{% block banner_content %}
    <!-- Banner -->
    <!-- Note: The "styleN" class below should match that of the header element. -->
    <section id="banner" class="style2">
        <div class="inner">
      <span class="image">
        <img src="images/pic07.jpg" alt=""/>
      </span>
            <header class="major noline align-center">
                <h2>What do you need help with?</h2>
            </header>
        </div>
    </section>
{% endblock banner_content %}
{% block content %}
    <div>
        <article class="padding-search" style="padding: 5% 10% 5% 10%;">
            <section id="one">
                <form method="GET">
                    <div class="inner">
                        <div class="row">
                            <div class="col-md-4">
                                <select name="subject" type="select" id="subject">
                                    <OPTION>Select Option</OPTION>
                                    <OPTION VALUE="ANT">Anthropology</OPTION>
                                    <OPTION VALUE="ART">Art History</OPTION>
                                    <OPTION VALUE="AET">Automotive Engineering Tech</OPTION>
                                    <OPTION VALUE="AVN">Aviation</OPTION>
                                    <OPTION VALUE="BIO">Biology</OPTION>
                                    <OPTION VALUE="BUS">Business</OPTION>
                                    <OPTION VALUE="CHM">Chemistry</OPTION>
                                    <OPTION VALUE="BCS">Computer Systems</OPTION>
                                    <OPTION VALUE="CON">Construction Management</OPTION>
                                    <OPTION VALUE="CRJ">Criminal Justice</OPTION>
                                    <OPTION VALUE="ECO">Economics</OPTION>
                                    <OPTION VALUE="EET">Electrical Engineering Tech</OPTION>
                                    <OPTION VALUE="EGL">English</OPTION>
                                    <OPTION VALUE="ENV">Environmental Studies</OPTION>
                                    <OPTION VALUE="FRX">Freshman Experience</OPTION>
                                    <OPTION VALUE="GEO">Geography</OPTION>
                                    <OPTION VALUE="HST">Health Studies</OPTION>
                                    <OPTION VALUE="HIS">History</OPTION>
                                    <OPTION VALUE="IND">Industrial Technology</OPTION>
                                    <OPTION VALUE="ITA">Italian</OPTION>
                                    <OPTION VALUE="MTH">Mathematics</OPTION>
                                    <OPTION VALUE="MET">Mechanical Engineering Tech</OPTION>
                                    <OPTION VALUE="MLT">Medical Laboratory Technology</OPTION>
                                    <OPTION VALUE="MLG">Modern Languages</OPTION>
                                    <OPTION VALUE="NUR">Nursing</OPTION>
                                    <OPTION VALUE="PHI">Philosophy</OPTION>
                                    <OPTION VALUE="PHY">Physics and Physical Science</OPTION>
                                    <OPTION VALUE="POL">Politics</OPTION>
                                    <OPTION VALUE="PCM">Professional Communications</OPTION>
                                    <OPTION VALUE="PSY">Psychology</OPTION>
                                    <OPTION VALUE="RAM">Research Aligned Mentorship</OPTION>
                                    <OPTION VALUE="STS">Science, Tech and Society</OPTION>
                                    <OPTION VALUE="SOC">Sociology</OPTION>
                                    <OPTION VALUE="SPA">Spanish</OPTION>
                                    <OPTION VALUE="SPE">Speech</OPTION>
                                    <OPTION VALUE="SMT">Sport Management</OPTION>
                                    <OPTION VALUE="VIS">Visual Communications</OPTION>
                                </select>

                            </div>

                            <div class="col-md-4">

                                <input id="searchbar" type="text" name="search_text"
                                       placeholder="Search for our courses..." value="{{ search_text }}">
                            </div>
                            <div class="col-md-4">
                                <div>

                                    <input type="submit" id="search_button" class="btn red" name="search_button">

                                </div>
                            </div>
                        </div>
                    </div>
                    {% csrf_token %}
                </form>
            </section>
        </article>
    </div>
    {% block search_results %}
        {% if tutors %}
            {% for tutor in tutors %}
                <article class="individual_tutor_result">
                    <h2>{{ tutor.user.username }}</h2>
                    <p>{{ tutor.bio }}</p>
                    <ul>
                        {% for courses in tutor.courses.all %}
                            <li class="course_name_listing">{{ courses.course_name }}</li>
                        {% endfor %}
                    </ul>
                    <form method="get" action="{% url 'users:detail' tutor.username %}">
                        <input type="submit" value="Tutor Profile">
                    </form>
                </article>
            {% endfor %}
        {% else %}
            <div id="no_results">
                <article>
                    <h1>There are no results for {{ search_text }}</h1>
                </article>
            </div>
        {% endif %}

    {% endblock search_results %}
{% endblock content %}
{% block javascript %}
    <script src="{% static 'js/search/jquery.poptrox.min.js' %}"></script>
    <script src="{% static 'js/search/util.js' %}"></script>
    <script src="{% static 'js/search/main.js' %}"></script>
{% endblock javascript %}
