{% extends "base_nectr.html" %} {% load staticfiles i18n compress %}
{% block banner_content %}
<!-- Banner -->
<!-- Note: The "styleN" class below should match that of the header element. -->
  <section id="banner" class="style2">
    <div class="inner">
      <span class="image">
        <img src="images/pic07.jpg" alt="" />
      </span>
      <header class="major noline">
        <h1>About</h1>
      </header>
    </div>
  </section>
{% endblock banner_content %}


{% block content %}
<div id="main">
<section id="one">
  <div class="inner">
    <header class="major">
      <h2>Unique Content</h2>
    </header>
      <p>GOES HERE.</p>
  </div>
</section>


</div>
{% endblock content %}
