{% extends "base_nectr.html" %} {% load staticfiles i18n compress %}
{% block banner_content %}
<!-- Banner -->
<!-- Note: The "styleN" class below should match that of the header element. -->
  <section id="banner" class="style2">
    <!-- <div class="inner">
      <span class="image">
        <img src="images/pic07.jpg" alt="" />
      </span> -->
      <!-- <header class="major noline">
        <h1>About The Hive</h1>
      </header> -->
    <!-- </div> -->
  </section>
{% endblock banner_content %}


{% block content %}
<!-- <div id="main"> -->
<!-- <section id="one">
  <div class="inner">
    <header class="major">
      <h2>Unique Cghfhgfhgfhgontent</h2>
    </header>
      <p>GOES HERE.</p>
  </div>
</section> -->

<!-- Banner -->
<!-- Note: The "styleN" class below should match that of the header element. -->
  <section id="banner" class="style2">
    <div class="inner">
      <span class="image">
        <img src="images/pic07.jpg" alt="" />
      </span>
      <header class="major noline">
        <h1>About The Hive</h1>
      </header>
      <div class="content">
        <p>We believe one on one learning is crucial for college students
          and should be made as easily accessible and convenient as possible.
          That is why we built nectR.</p>
      </div>
    </div>
  </section>

<!-- Main -->
  <div id="main">

    <!-- Three -->
      <section id="one">
        <div class="inner">
          <header class="majornoline">
            <h2>Learn About Our Story</h2>
          </header>
          <p>The creative name nectR came about from the actual word nectar. Nectar has two meanings, first it is a sugary fluid secreted by plants, especially within flowers to encourage pollination by insects and other animals. In addition, in order for bees to produce honey, they collect the fluid. The other definition is that nectar (in Greek and Roman mythology) is the drink of gods. As a group we used this analogy to apply the definitions to our application. We figured out a way to make learning fun and enjoyable for both the student and the tutors. The students are the bees that are looking for fluid to produce honey. The fluid to produce honey is the nectar, which would be the sessions with the tutor, and the honey is the knowledge gained from each session.</p>

        </div>
      </section>

<section id="two" class="container">
  <div class = "row-fluid">
        <article>
          <header class="majornoline">
            <i class = "row 100%">
              <img style = "max-wdith: 75px; max-height: 75px;" src="http://pngimg.com/uploads/bee/bee_PNG10.png">
            </i>
          </header>
          <h4 class="subhead">Find your match</h4>
          <p>Easily filter and find the perfect tutor for your specific needs</p>
        </article>
        <article class="col-md-4">
          <header class="majornoline">
            <i class = "row 100%">
              <img style = "max-wdith: 75px; max-height: 75px;" src="http://pngimg.com/uploads/bee/bee_PNG10.png">
            </i>
          </header>
          <h4 class="subhead">Get help in all subjects</h4>
          <p>We have tutors educated in all subjects and courses.</p>
        </article>
        <article class="col-md-4">
          <header class="majornoline">
            <i class = "row 100%">
              <img style = "max-wdith: 75px; max-height: 75px;" src="http://pngimg.com/uploads/bee/bee_PNG10.png">
            </i>
          </header>
          <h4 class="subhead">Improve your GPA</h4>
          <p>Get the help you need to improve your grades</p>
        </article>
      </div>
</section>


</div>
{% endblock content %}
