{% extends "nectr_base.html" %}
<!-- {% block title %}nectR tutoring - home page{% endblock title %} -->

<nav id="menu">
{% block nav_content %} {% endblock %}
</nav>



{% block content %}
<!-- Footer -->
  <footer id="footer" style"padding-top: 80%";>
    <div class="inner">
      <ul class="icons">
        <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; nectR </li><li>Design: The Bee Team</li>
      </ul>
    </div>
  </footer>
{% endblock %}
