{% extends "nectr_base.html" %}
{% load staticfiles i18n compress%}
<!-- {% block title %}nectR tutoring - home page{% endblock title %} -->

{% block content %}
<!-- Banner -->
  <section id="banner" class="major" >

    <div class="inner">
        <div class="padding-33">
            <img src="{% static "images/nectr-white.png" %}" alt="" width="800" height="260"/>
        </div>
      <header class="major noline">
        <div class="padding-search">
        <input id="searchbar" type="text" name="search" placeholder="Search for our courses.." >

<br>
      <center>
        <ul class="actions">
            <li><a href="#one" class="button next scrolly"> Learn more </a></li>
        </ul>
      </center>
      </div>
      </header>
    </div>
  </section>

  <!-- Main -->
    <div id="main">

    <!-- nav bar -->
    <nav class="navbar navbar-default" style="  margin-bottom: 3%; margin-top: 3%; ">
      <div class="container-fluid" style="columns: 1; margin-left: 30%; padding-bottom: 2%; ">
        <ul class="nav navbar-nav" >
          <li><a href="#"> Language </a>  <i class="fa fa-language" style="margin-left: 45%; color: black;"></i> </li>
           <li><a href="#"> Math </a> <i class="fa fa-calculator" style="margin-left: 45%; color: black;"></i> </li>
           <li><a href="#"> English </a><i class="fa fa-book" style="margin-left: 45%; color: black;"></i> </li>
           <li><a href="#"> Test Prep </a><i class="fa fa-pencil" style="margin-left: 45%; color: black;"></i> </li>
           <li><a href="#"> More </a> <i class="fa fa-bars" style="margin-left: 45%; color: black;"></i> </li>
        </ul>
      </div>
    </nav>

      <!-- One -->
      <div id="wrapper">
        <section id="one" class="tiles">
          <article>
            <span class="image">
              <img src="{% static "images/joinhive.gif" %}" alt="" />
            </span>
            <header class="major noline">

              <h3><a href="join_the_hive" class="link">Join the Hive</a></h3>
            </header>
          </article>

          <article>
            <span class="image">
              <img src="{% static "images/honeydrip.gif" %}" alt="" />
            </span>
            <header class="major noline">
              <h3><a href="search_the_hive" class="link">Search the Hive</a></h3>
            </header>
          </article>

          <article>
            <span class="image">
                <img src="{% static "images/giphy.gif" %}" alt="" />
            </span>
            <header class="major noline">
              <h3><a href="how_it_works.html" class="link">How it Works</a></h3>
            </header>
          </article>

          <article>
            <span class="image">
              <img src="{% static "images/aboutgif.gif" %}" alt="" />
            </span>
            <header class="major noline">
              <h3><a href="about.html" class="link">About</a></h3>
            </header>
          </article>

        </section>
      </div>


        <!-- two -->
              <section id="two">
                  <div class="row 100% padding-5">
                    <article class="6u 12u$(medium)">
                      <div class="padding-5">
                      <header>
                        <h2>Join The Hive</h2>
                      </header>
                      <p>Adipiscing a commodo ante nunc accumsan et interdum mi ante adipiscing. A nunc lobortis non nisl amet vis sed volutpat aclacus nascetur ac non. Lorem curae et ante amet sapien sed tempus adipiscing id accumsan.</p>
                    </div>
                    </article>

                    <article class="6u$ 12u$(medium) important(medium)">
                      <span class="image fit">
                        <img src="{% static "images/bee-moving.gif" %}" alt="" />
                      </span>
                      </article>
                  </div>
              </section>

              <!-- two -->
                    <section id="two">
                        <div class="row 100% padding-5">
                          <article class="6u 12u$(medium)">
                            <div class="padding-5">
                              <span class="image fit">
                                <img src="{% static "images/bee-moving.gif" %}" alt="" />
                              </span>
                        </div>
                          </article>

                          <article class="6u$ 12u$(medium) important(medium)">
                            <header>
                              <h2>How it works</h2>
                            </header>
                            <p>Adipiscing a commodo ante nunc accumsan et. A nunc lobortis non nisl amet vis sed volutpat aclacus nascetur ac non. Lorem curae et ante amet sapien sed tempus adipiscing id accumsan.</p>
                            </article>
                        </div>
                    </section>


                    <!-- two -->
                          <section id="two">
                              <div class="row 100% padding-5">
                                <article class="6u 12u$(medium)">
                                  <div class="padding-5">
                                  <header>
                                    <h2>About</h2>
                                  </header>
                                  <p>Adipiscing a commodo ante nunc. A nunc lobortis non nisl amet vis sed volutpat aclacus nascetur ac non. Lorem curae et ante amet sapien sed tempus adipiscing id accumsan.</p>
                                </div>
                                </article>

                                <article class="6u$ 12u$(medium) important(medium)">
                                  <span class="image fit">
                                    <img src="{% static "images/bee-moving.gif" %}" alt="" />
                                  </span>
                                  </article>
                              </div>
                          </section>

                          <!-- two -->
                                <section id="two">
                                    <div class="row 100% padding-5">
                                      <article class="6u 12u$(medium)">
                                        <div class="padding-5">
                                          <span class="image fit">
                                            <img src="{% static "images/bee-moving.gif" %}" alt="" />
                                          </span>
                                    </div>
                                      </article>

                                      <article class="6u$ 12u$(medium) important(medium)">
                                        <header>
                                          <h2>Search the Hive</h2>
                                        </header>
                                        <p>Adipiscing a commodo ante nunc accumsan et interdum mi ante adipiscing. A nunc lobortis non nisl amet vis sed volutpat aclacus nascetur ac non. Lorem curae et ante amet sapien sed tempus adipiscing id accumsan.</p>
                                        </article>
                                    </div>
                                </section>



{% endblock content %}
