{% extends "nectr_base.html" %}
{% load staticfiles i18n compress%}
<!-- {% block title %}nectR tutoring - home page{% endblock title %} -->

{% block banner_content %}

<!-- Banner -->
  <section id="banner" class="major" >

    <div class="inner">
        <div class="padding-33" style = "padding-top: 215px; padding-left: 135px;">
            <img src="{% static "images/nectr-white.png" %}" alt="" width="800" height="260"/>
        </div>
      <header class="major noline">
        <div class="padding-search">
        <input id="searchbar" type="text" name="search" placeholder="Search for our courses.." >

      <center>
        <ul class="actions">
            <li><a href="#one" class="button next scrolly"> Learn more </a></li>
        </ul>
      </center>
      </div>
      </header>
    </div>
  </section>

{% endblock banner_content %}
