{% extends "base_nectr.html" %}
{% load staticfiles i18n compress %}
{% block banner_content %}
<section id="banner" class="style2">
  <div class="inner">
      <span class="image">
        <img src="images/pic07.jpg" alt="" />
      </span>
      <header class="major">
        <h1>Join the Hive</h1>
      </header>
      <div class="content">
        <p>Buz away towards a path of success.</p>
      </div>
  </div>
</section>

{% endblock banner_content %}

{% block content %}
<div id="main">
<section id="one">
  <div class="inner">
    <header class="major">
      <h2>Unique Content</h2>
    </header>
      <p>GOES HERE.</p>
  </div>
</section>


</div>
{% endblock content %}
