{% extends "base_nectr.html" %}
{% load staticfiles i18n compress %}
{% block banner_content %}
<section id="banner" class="style2">
  <div class="inner">
      <span class="image">
        <img src="images/pic07.jpg" alt="" />
      </span>
      <header class="major">
        <h1>Join the Hive</h1>
      </header>
      <div class="content">
        <p>Buz away towards a path of success.</p>
      </div>
  </div>
</section>

{% endblock banner_content %}


{% block content %}<p>unique content</p>{% endblock content %}
