{% extends "base_nectr.html" %} {% load staticfiles i18n compress %}
{% block banner_content %}
<!-- Banner -->
<!-- Note: The "styleN" class below should match that of the header element. -->
  <section id="banner" class="style2">
    <div class="inner">
      <span class="image">
        <img src="images/pic07.jpg" alt="" />
      </span>
      <header class="major noline">
         <center> <h2>What do you need help with?</h2> </center>
      </header>
    </div>
  </section>
{% endblock banner_content %}


{% block content %}
<div>
<!-- Three -->
<article class="padding-search" style ="padding-left:15%;padding-top: 5%;padding-bottom: 10%;padding-right: 0%;">
<section id="one">

    <form method="GET">
        <div class="inner">
            <div class="row">
                <div class = "col-md-8">
                    <input id="searchbar" type="text" name="search_text" placeholder="Search for our courses...">
                </div>
                <div class="col-md-4">
                  <div>

                    <input onclick="location.href='#fetch'" type="submit" id="search_button" class="btn red" name="search_button">

                 </div>
                </div>
            </div>
        </div>
        {% csrf_token %}
    </form>

    <script>
        $(document).ready(function (){
            $("#search_button").click(function (){
                $('html, body').animate({
                    scrollTop: $("#fetch").offset().top
                }, 2000);
            });
        });
    </script>

</section>
</article>

{% block seachpost %}

{% endblock %}

<div>
{% include "partials/contact.html" %}
</div>

</div>

{% endblock content %}
