#searchbar {
position: relative;
height: 100x;
line-height: 100px;
background-color: clear;
}
#searchbar h2{
text-shadow: 2px 2px white;
text-align: center;
color: white;
font-family:"Impact";
font-size: 25px;
}
#searchbar.input[type=text] {
    width: 30%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}
