/* search-result Override*/

/* search-result */

#search-result {
  -moz-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -moz-filter 0.5s ease;
  -webkit-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -webkit-filter 0.5s ease;
  -ms-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -ms-filter 0.5s ease;
  transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, filter 0.5s ease;
  position: relative;
}

#search-result:after {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  -moz-transition: opacity 0.5s ease, visibility 0.5s;
  -webkit-transition: opacity 0.5s ease, visibility 0.5s;
  -ms-transition: opacity 0.5s ease, visibility 0.5s;
  transition: opacity 0.5s ease, visibility 0.5s;
  background: rgba(36, 38, 41, 0.5);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

body.ie #search-result:after {
  background: rgba(36, 38, 41, 0.8);
}

body.modal-active #search-result {
  -moz-filter: blur(8px);
  -webkit-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}

body.modal-active #search-result:after {
  -moz-pointer-events: auto;
  -webkit-pointer-events: auto;
  -ms-pointer-events: auto;
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  z-index: 10003;
}

#search-result:before {
  -moz-animation: spinner 1s infinite linear !important;
  -webkit-animation: spinner 1s infinite linear !important;
  -ms-animation: spinner 1s infinite linear !important;
  animation: spinner 1s infinite linear !important;
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  -moz-transition: top 0.75s ease-in-out, opacity 0.35s ease-out, visibility 0.35s;
  -webkit-transition: top 0.75s ease-in-out, opacity 0.35s ease-out, visibility 0.35s;
  -ms-transition: top 0.75s ease-in-out, opacity 0.35s ease-out, visibility 0.35s;
  transition: top 0.75s ease-in-out, opacity 0.35s ease-out, visibility 0.35s;
  background: no-repeat center;
  background-size: contain;
  content: '';
  display: block;
  font-size: 2em;
  height: 2em;
  left: 50%;
  line-height: 2em;
  margin: -1em 0 0 -1em;
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 75%;
  visibility: hidden;
  width: 2em;
}

body.loading #search-result:before {
  -moz-transition: opacity 1s ease-out !important;
  -webkit-transition: opacity 1s ease-out !important;
  -ms-transition: opacity 1s ease-out !important;
  transition: opacity 1s ease-out !important;
  -moz-transition-delay: 0.5s !important;
  -webkit-transition-delay: 0.5s !important;
  -ms-transition-delay: 0.5s !important;
  transition-delay: 0.5s !important;
  opacity: 0.25;
  top: 50%;
  visibility: visible;
}

/* Search Result */

#search_results {
  -moz-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -moz-filter 0.5s ease;
  -webkit-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -webkit-filter 0.5s ease;
  -ms-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -ms-filter 0.5s ease;
  transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, filter 0.5s ease;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#search_results .thumb {
  -moz-transition: opacity 1.25s ease-in-out;
  -webkit-transition: opacity 1.25s ease-in-out;
  -ms-transition: opacity 1.25s ease-in-out;
  transition: opacity 1.25s ease-in-out;
  -moz-pointer-events: auto;
  -webkit-pointer-events: auto;
  -ms-pointer-events: auto;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  opacity: 1;
  overflow: hidden;
  position: relative;
}

#search_results .thumb:after {
  background-image: -moz-linear-gradient(to top, rgba(10, 17, 25, 0.35) 5%, rgba(10, 17, 25, 0) 35%);
  background-image: -webkit-linear-gradient(to top, rgba(10, 17, 25, 0.35) 5%, rgba(10, 17, 25, 0) 35%);
  background-image: -ms-linear-gradient(to top, rgba(10, 17, 25, 0.35) 5%, rgba(10, 17, 25, 0) 35%);
  background-image: linear-gradient(to top, rgba(10, 17, 25, 0.35) 5%, rgba(10, 17, 25, 0) 35%);
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  background-size: cover;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#search_results .thumb > .image {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background: no-repeat center;
  background-size: cover;
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#search_results .thumb > h2 {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  bottom: 1.875em;
  font-size: 0.8em;
  left: 2.1875em;
  margin: 0;
  position: absolute;
  z-index: 1;
}

#search_results .thumb > p {
  display: none;
}

#search_results:after {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  -moz-transition: opacity 0.5s ease, visibility 0.5s;
  -webkit-transition: opacity 0.5s ease, visibility 0.5s;
  -ms-transition: opacity 0.5s ease, visibility 0.5s;
  transition: opacity 0.5s ease, visibility 0.5s;
  background: rgba(36, 38, 41, 0.25);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

body.ie #search_results:after {
  background: rgba(36, 38, 41, 0.55);
}

body.content-active #search_results {
  -moz-filter: blur(6px);
  -webkit-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
}

body.content-active #search_results:after {
  -moz-pointer-events: auto;
  -webkit-pointer-events: auto;
  -ms-pointer-events: auto;
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

body.loading #search_results .thumb {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  opacity: 0;
}

#search_results .thumb {
  -moz-transition-delay: 2.525s;
  -webkit-transition-delay: 2.525s;
  -ms-transition-delay: 2.525s;
  transition-delay: 2.525s;
  height: calc(40vh - 2em);
  min-height: 20em;
  width: 25%;
}

#search_results .thumb:nth-child(1) {
  -moz-transition-delay: 0.65s;
  -webkit-transition-delay: 0.65s;
  -ms-transition-delay: 0.65s;
  transition-delay: 0.65s;
}

#search_results .thumb:nth-child(2) {
  -moz-transition-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
  -ms-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

#search_results .thumb:nth-child(3) {
  -moz-transition-delay: 0.95s;
  -webkit-transition-delay: 0.95s;
  -ms-transition-delay: 0.95s;
  transition-delay: 0.95s;
}

#search_results .thumb:nth-child(4) {
  -moz-transition-delay: 1.1s;
  -webkit-transition-delay: 1.1s;
  -ms-transition-delay: 1.1s;
  transition-delay: 1.1s;
}

#search_results .thumb:nth-child(5) {
  -moz-transition-delay: 1.25s;
  -webkit-transition-delay: 1.25s;
  -ms-transition-delay: 1.25s;
  transition-delay: 1.25s;
}

#search_results .thumb:nth-child(6) {
  -moz-transition-delay: 1.4s;
  -webkit-transition-delay: 1.4s;
  -ms-transition-delay: 1.4s;
  transition-delay: 1.4s;
}

#search_results .thumb:nth-child(7) {
  -moz-transition-delay: 1.55s;
  -webkit-transition-delay: 1.55s;
  -ms-transition-delay: 1.55s;
  transition-delay: 1.55s;
}

#search_results .thumb:nth-child(8) {
  -moz-transition-delay: 1.7s;
  -webkit-transition-delay: 1.7s;
  -ms-transition-delay: 1.7s;
  transition-delay: 1.7s;
}

#search_results .thumb:nth-child(9) {
  -moz-transition-delay: 1.85s;
  -webkit-transition-delay: 1.85s;
  -ms-transition-delay: 1.85s;
  transition-delay: 1.85s;
}

#search_results .thumb:nth-child(10) {
  -moz-transition-delay: 2s;
  -webkit-transition-delay: 2s;
  -ms-transition-delay: 2s;
  transition-delay: 2s;
}

#search_results .thumb:nth-child(11) {
  -moz-transition-delay: 2.15s;
  -webkit-transition-delay: 2.15s;
  -ms-transition-delay: 2.15s;
  transition-delay: 2.15s;
}

#search_results .thumb:nth-child(12) {
  -moz-transition-delay: 2.3s;
  -webkit-transition-delay: 2.3s;
  -ms-transition-delay: 2.3s;
  transition-delay: 2.3s;
}

@media screen and (max-width: 1680px) {

  #search_results .thumb {
    -moz-transition-delay: 2.075s;
    -webkit-transition-delay: 2.075s;
    -ms-transition-delay: 2.075s;
    transition-delay: 2.075s;
    height: calc(40vh - 2em);
    min-height: 20em;
    width: 33.33333%;
  }

  #search_results .thumb:nth-child(1) {
    -moz-transition-delay: 0.65s;
    -webkit-transition-delay: 0.65s;
    -ms-transition-delay: 0.65s;
    transition-delay: 0.65s;
  }

  #search_results .thumb:nth-child(2) {
    -moz-transition-delay: 0.8s;
    -webkit-transition-delay: 0.8s;
    -ms-transition-delay: 0.8s;
    transition-delay: 0.8s;
  }

  #search_results .thumb:nth-child(3) {
    -moz-transition-delay: 0.95s;
    -webkit-transition-delay: 0.95s;
    -ms-transition-delay: 0.95s;
    transition-delay: 0.95s;
  }

  #search_results .thumb:nth-child(4) {
    -moz-transition-delay: 1.1s;
    -webkit-transition-delay: 1.1s;
    -ms-transition-delay: 1.1s;
    transition-delay: 1.1s;
  }

  #search_results .thumb:nth-child(5) {
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
  }

  #search_results .thumb:nth-child(6) {
    -moz-transition-delay: 1.4s;
    -webkit-transition-delay: 1.4s;
    -ms-transition-delay: 1.4s;
    transition-delay: 1.4s;
  }

  #search_results .thumb:nth-child(7) {
    -moz-transition-delay: 1.55s;
    -webkit-transition-delay: 1.55s;
    -ms-transition-delay: 1.55s;
    transition-delay: 1.55s;
  }

  #search_results .thumb:nth-child(8) {
    -moz-transition-delay: 1.7s;
    -webkit-transition-delay: 1.7s;
    -ms-transition-delay: 1.7s;
    transition-delay: 1.7s;
  }

  #search_results .thumb:nth-child(9) {
    -moz-transition-delay: 1.85s;
    -webkit-transition-delay: 1.85s;
    -ms-transition-delay: 1.85s;
    transition-delay: 1.85s;
  }

}

@media screen and (max-width: 1280px) {

  #search_results .thumb {
    -moz-transition-delay: 1.625s;
    -webkit-transition-delay: 1.625s;
    -ms-transition-delay: 1.625s;
    transition-delay: 1.625s;
    height: calc(40vh - 2em);
    min-height: 20em;
    width: 50%;
  }

  #search_results .thumb:nth-child(1) {
    -moz-transition-delay: 0.65s;
    -webkit-transition-delay: 0.65s;
    -ms-transition-delay: 0.65s;
    transition-delay: 0.65s;
  }

  #search_results .thumb:nth-child(2) {
    -moz-transition-delay: 0.8s;
    -webkit-transition-delay: 0.8s;
    -ms-transition-delay: 0.8s;
    transition-delay: 0.8s;
  }

  #search_results .thumb:nth-child(3) {
    -moz-transition-delay: 0.95s;
    -webkit-transition-delay: 0.95s;
    -ms-transition-delay: 0.95s;
    transition-delay: 0.95s;
  }

  #search_results .thumb:nth-child(4) {
    -moz-transition-delay: 1.1s;
    -webkit-transition-delay: 1.1s;
    -ms-transition-delay: 1.1s;
    transition-delay: 1.1s;
  }

  #search_results .thumb:nth-child(5) {
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
  }

  #search_results .thumb:nth-child(6) {
    -moz-transition-delay: 1.4s;
    -webkit-transition-delay: 1.4s;
    -ms-transition-delay: 1.4s;
    transition-delay: 1.4s;
  }

}

@media screen and (max-width: 980px) {

  #search_results .thumb {
    -moz-transition-delay: 2.075s;
    -webkit-transition-delay: 2.075s;
    -ms-transition-delay: 2.075s;
    transition-delay: 2.075s;
    height: calc(28.57143vh - 1.33333em);
    min-height: 18em;
    width: 50%;
  }

  #search_results .thumb:nth-child(1) {
    -moz-transition-delay: 0.65s;
    -webkit-transition-delay: 0.65s;
    -ms-transition-delay: 0.65s;
    transition-delay: 0.65s;
  }

  #search_results .thumb:nth-child(2) {
    -moz-transition-delay: 0.8s;
    -webkit-transition-delay: 0.8s;
    -ms-transition-delay: 0.8s;
    transition-delay: 0.8s;
  }

  #search_results .thumb:nth-child(3) {
    -moz-transition-delay: 0.95s;
    -webkit-transition-delay: 0.95s;
    -ms-transition-delay: 0.95s;
    transition-delay: 0.95s;
  }

  #search_results .thumb:nth-child(4) {
    -moz-transition-delay: 1.1s;
    -webkit-transition-delay: 1.1s;
    -ms-transition-delay: 1.1s;
    transition-delay: 1.1s;
  }

  #search_results .thumb:nth-child(5) {
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
  }

  #search_results .thumb:nth-child(6) {
    -moz-transition-delay: 1.4s;
    -webkit-transition-delay: 1.4s;
    -ms-transition-delay: 1.4s;
    transition-delay: 1.4s;
  }

  #search_results .thumb:nth-child(7) {
    -moz-transition-delay: 1.55s;
    -webkit-transition-delay: 1.55s;
    -ms-transition-delay: 1.55s;
    transition-delay: 1.55s;
  }

  #search_results .thumb:nth-child(8) {
    -moz-transition-delay: 1.7s;
    -webkit-transition-delay: 1.7s;
    -ms-transition-delay: 1.7s;
    transition-delay: 1.7s;
  }

  #search_results .thumb:nth-child(9) {
    -moz-transition-delay: 1.85s;
    -webkit-transition-delay: 1.85s;
    -ms-transition-delay: 1.85s;
    transition-delay: 1.85s;
  }

}

@media screen and (max-width: 480px) {

  #search_results .thumb {
    -moz-transition-delay: 1.175s;
    -webkit-transition-delay: 1.175s;
    -ms-transition-delay: 1.175s;
    transition-delay: 1.175s;
    height: calc(40vh - 2em);
    min-height: 18em;
    width: 100%;
  }

  #search_results .thumb:nth-child(1) {
    -moz-transition-delay: 0.65s;
    -webkit-transition-delay: 0.65s;
    -ms-transition-delay: 0.65s;
    transition-delay: 0.65s;
  }

  #search_results .thumb:nth-child(2) {
    -moz-transition-delay: 0.8s;
    -webkit-transition-delay: 0.8s;
    -ms-transition-delay: 0.8s;
    transition-delay: 0.8s;
  }

  #search_results .thumb:nth-child(3) {
    -moz-transition-delay: 0.95s;
    -webkit-transition-delay: 0.95s;
    -ms-transition-delay: 0.95s;
    transition-delay: 0.95s;
  }

}
