/*header.major > :first-child:after{
  width: 0px;
}*/
header.noline > :first-child:after{
  width: 0px;
}
.padding-search {
  padding-bottom: 15%;
}

#searchbar {
position: relative;
height: 100x;
line-height: 100px;
background-color: clear;
}
#searchbar h2{
text-shadow: 2px 2px white;
text-align: center;
color: white;
font-family:"Impact";
font-size: 25px;
}
#searchbar.input[type=text] {
    width: 30%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
/* SEARCH BUTTON */


/* PADDING */
.padding-search {
  padding-bottom: 15%;
}

.padding-in-search {
  padding: 2% 2% 2% 2%;
}

/* filter bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #FFFFE0}

.dropdown:hover .dropdown-content {
    display: block;
}

/*table*/
#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #000;
}
