{% extends 'base_nectr.html' %}



{% block content %}


    <div class="container profile">
        <div class="row">

            <div class="col-lg-3 sidebar">


                <h1>{{ object.first_name }} {{ object.last_name }}</h1>

                <div class="thumbnail">
                    <img src="http://placehold.it/242x200" alt="">
                </div>

                <div class="well">
                    <ul>
                        <li><strong>Student:</strong> Farmingdale College, Computer
                            Programming {{ user.college_name }}, {{ user.major }}</li>
                        <li><strong>Address:</strong> Address, City, Country, Zip
                            Code {{ user.address }} {{ user.city }} {{ user.country }} {{ user.postal_code }}</li>
                        <li><strong>Phone:</strong> 555-555-5555 {{ user.phone_number }}</li>
                    </ul>
                </div>

                {% if user.is_authenticated %}
                    <button class="btn btn-primary btn-block btn-sm"><a href="{% url 'dashboard:edit_profile' %}">Edit
                        Profile</a><i
                            class="glyphicon glyphicon-pencil"></i></button>
                    <button class="btn btn-primary btn-block btn-sm"><a href="{% url 'chat_view' %}">Message</a><i
                            class="glyphicon glyphicon-envelope"></i></button>
                {% else %}
                    <button class="btn btn-primary btn-block btn-sm"><a href="{% url 'account_signup' %}">Sign Up</a><i
                            class="glyphicon glyphicon-log-in"></i>
                    </button>
                {% endif %}


            </div>
            <div class="col-lg-8 col-md-offset-1">

                <section>
                    <h2>Bio</h2>
                    <!--    TODO: Check if the statement is correct -->
                    {% if bio %}
                        <p style="background-color: white; color: black;">{{ user.about_me }}</p>
                    {% else %}
                        <p style="background-color: white; color: black; border-radius: 5px; ">No Bio </p>
                    {% endif %}
                </section>


                <section>
                    <h2>Interests</h2>


                    <ul class="list-group">
                        {% if users %}
                            {% for user in users %}

                                <li class="list-group-item"> {{ user.interest }} </li>

                            {% endfor %}
                        {% else %}
                            <li class="list-group-item"> No Interest Listed</li>
                        {% endif %}
                    </ul>

                </section>


                <section>
                    <h2>Skills</h2>

                    <ul class="list-group">
                        {% if skills %}
                            {% for skill in skills %}
                                <li class="list-group-item"> {{ user.skill }} </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item"> No Skills Listed</li>
                        {% endif %}
                    </ul>
                </section>


                <section>
                    <h2>Courses</h2>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Course Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--   TODO: Is this if statement correct? The Skill if statement repeats twice. -->
                        {% if skills %}

                            {% for course in courses %}
                                <tr>
                                    <td style="background-color: white; color: black;">{{ user.subject }}</td>
                                    <td style="background-color: white; color: black;">{{ user.course_name }}</td>

                                </tr>
                            {% endfor %}
                        {% else %}
                            <td style="background-color: white; color: black;"> No Subject Listed</td>
                            <td style="background-color: white; color: black; "> No Course Listed</td>
                        {% endif %}

                        </tbody>
                    </table>
                </section>


            </div>
        </div>
    </div>

{% endblock content %}
