{% extends 'base_nectr.html' %}



{% block content %}


    <div class="container profile">
        <div class="row">

            <div class="col-lg-3 sidebar">


                <h1>{{ object.first_name }} {{ object.last_name }}</h1>

                <div class="thumbnail">
                    <img src="http://placehold.it/242x200" alt="">
                </div>

                <div class="well">
                    <ul>
                        <li><strong>Address:</strong> Address, City, Country, Zip
                            Code {{ object.street_address_1 }} {{ object.city }} {{ object.country }} {{ user.zip_code }}
                        </li>
                    </ul>
                </div>

                {% if user.is_authenticated %}
                    <button class="btn btn-primary btn-block btn-sm"><a href="{% url 'dashboard:edit_profile' %}">Edit
                        Profile</a><i
                            class="glyphicon glyphicon-pencil"></i></button>
                    <button class="btn btn-primary btn-block btn-sm"><a href="{% url 'chat_view' %}">Message</a><i
                            class="glyphicon glyphicon-envelope"></i></button>
                {% else %}
                    <button class="btn btn-primary btn-block btn-sm"><a href="{% url 'account_signup' %}">Sign Up</a><i
                            class="glyphicon glyphicon-log-in"></i>
                    </button>
                {% endif %}


            </div>
            <div class="col-lg-8 col-md-offset-1">

                <section>
                    <h2>Bio</h2>
                    <!--    TODO: Check if the statement is correct -->
                    <p style="background-color: white; color: black;">{{ object.bio }}</p>
                </section>

                <section>
                    <h2>Availability</h2>

                    <ul class="list-group">
                        {% if object.schedule%}
                            {% for skill in object.skills.all %}
                                <li class="list-group-item"> {{ skill }} </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item"> Not Available</li>
                        {% endif %}
                    </ul>
                </section>

                <section>
                    <h2>Skills</h2>

                    <ul class="list-group">
                        {% if object.skills.count > 0 %}
                            {% for skill in object.skills.all %}
                                <li class="list-group-item"> {{ skill }} </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item"> No Skills Listed</li>
                        {% endif %}
                    </ul>
                </section>


                <section>
                    <h2>Courses</h2>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Course Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--   TODO: Is this if statement correct? The Skill if statement repeats twice. -->
                        {% if object.courses.count > 0 %}

                            {% for course in object.courses.all %}
                                <tr>
                                    <td style="background-color: white; color: black;">{{ course.subject }}</td>
                                    <td style="background-color: white; color: black;">{{ course }}</td>

                                </tr>
                            {% endfor %}
                        {% else %}
                            <td style="background-color: white; color: black;"> No Subject Listed</td>
                            <td style="background-color: white; color: black; "> No Course Listed</td>
                        {% endif %}

                        </tbody>
                    </table>
                </section>


            </div>
        </div>
    </div>

{% endblock content %}
