<!DOCTYPE html>
<html>
<head>
  <title>NECTR</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  
</head>
<body>  <!-- This is the whole page -->


<body class="home">


<nav class="navbar navbar-default">

  <div class="container-fluid" style="columns: 1; margin-left: 35%; padding-bottom: 1%;">

    <ul class="nav navbar-nav" >
      <li><a href="#"> Language </a>  <i class="fa fa-language" style="margin-left: 45%;"></i> </li>
       <li><a href="#"> Math </a> <i class="fa fa-calculator" style="margin-left: 45%;"></i> </li>

       <li><a href="#"> English </a><i class="fa fa-book" style="margin-left: 45%;"></i> </li>
      <li><a href="#"> Test Prep </a><i class="fa fa-pencil" style="margin-left: 45%;"></i> </li>
       <li><a href="#"> More </a> <i class="fa fa-bars" style="margin-left: 45%;"></i> </li>
    
    </ul>
   
  </div>
</nav>





<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script type="js/Jq.min.js"></script>
<script scr="js/bootstrap.min.js"></script>
</body>  <!-- body class end -->


</body>
</html>

