{% load staticfiles i18n compress%}

<!-- Footer -->

<div class="inner">
  <ul class="icons">
    <li><a href="https://twitter.com/nectRtutoring" class="icon alt fa-twitter"><span class="label">Twitter</span></a>
    </li>
    <li><a href="https://www.facebook.com/NectRTutoring/" class="icon alt fa-facebook"><span
      class="label">Facebook</span></a></li>
    <li><a href="https://www.instagram.com/nectrtutoring/?hl=en" class="icon alt fa-instagram"><span class="label">Instagram</span></a>
    </li>
    <li><a href="" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; nectR</li>
    <li>Design: The Bee Team</li>
  </ul>
</div>

