{% extends 'base_nectr.html.html' %}

{% block css %}
.row{
  margin-top: 40px;
}


html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.header {
  padding: 10px 0;
  background: #f5f5f5;
  border-top: 3px solid #3AAA64;
}

.list-group {
    list-style: disc inside;

}

.list-group-item {
    display: list-item;
}

 .find-more{
   text-align: right;
 }


.label-theme{
  background: #3AAA64;
  font-size: 14px;
  padding: .3em .7em .3em;
  color: #fff;
  border-radius: .25em;
}

.label a{
  color: inherit;
}
{% endblock %}

{% block content %}

<header class="header">
    <div class="container">
      <div class="teacher-name" style="padding-top:20px;">

        <div class="row" style="margin-top:0px;">
        <div class="col-md-9">
          <h2 style="font-size:38px"><strong>{{user.full_name}}</strong></h2>
        </div>
        <div class="col-md-3">
          <div class="button" style="float:right;">
           {% if user.is_authenticated %}
            <a href="#" class="btn btn-success">Edit Profile</a>

            {% endif %}
          </div>
        </div>
        </div>
      </div>

      <div class="row" style="margin-top:20px;">
        <div class="col-md-3"> <!-- Image -->
          <a href="#"> <img class="rounded-circle" src=""  style="width:200px;height:200px"></a>
        </div>

        <div class="col-md-6"> <!-- Rank & Qualifications -->
          <h5 style="color:#3AAA64">Student, <small> {{user.college_name}}, {{user.major}}</small></h5>
          

        <!--   We should change country in edit profile in dashboard to state -->
          <p>Address: {{user.address}} {{user.city}} {{user.country}} {{user.postal_code}}</p>
        </div>

        <div class="col-md-3 text-center"> <!-- Phone & Social -->
          <span class="number" style="font-size:18px">Phone:<strong>{{user.phone_number}}</strong></span>
          <div class="button" style="padding-top:18px">
          {% if user.is_authenticated %}
            <a href="" class="btn btn-success">Message</a>
            {% else %}
             <a href="" class="btn btn-success">Sign Up</a>
             {% endif %}
            }
          </div>
          <div class="social-icons" style="padding-top:18px">
            <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span></a>
            <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span></a>
            <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span></a>
            <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span></a>
            <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span></a>

          </div>
        </div>
      </div>
    </div>
  </header>
    <!--End of Header-->

<!-- Main container -->
  <div class="container">

<!-- Section:Biography -->
  <div class="row">
        <div class="col-md-12">
          <div class="card card-block ">
            <h2 class="card-title" style="color:#009688"><i class="fa fa-user fa-fw"></i>Bio</h2>
            <div style="height: 15px; "></div>
           <!--  Edit from dashboard in Edit profile. -->
              <p> {{user.about_me}}  </p>
          </div>
        </div>
      </div>
<!-- End:Biography -->

<!--Section:Interests-->
  <div class="row">
    <div class="col-md-12">
        <div class="card card-block">
          <h2 class="card-title"  style="color:#009688"><i class="fa fa-rocket fa-fw"></i>Interests</h2>
          <ul class="list-group" style="margin-top:15px;margin-bottom:15px;">
             {% if users %}
            {% for user in users %}

              <li class="list-group-item"> {{user.interest}} </li>
           
            {% endfor %}
            {% else %}
           <li class="list-group-item"> No Interest Listed </li>
           {% endif %}
          </ul>
        </div>
    </div>
  </div>
<!-- End :Interests -->


<!--Section:Skills-->
  <div class="row">
    <div class="col-md-12">
        <div class="card card-block">
          <h2 class="card-title"  style="color:#009688"><i class="fa fa-star fa-fw"></i>Skills</h2>
          <ul class="list-group" style="margin-top:15px;margin-bottom:15px;">
            {% if skills %}

            {% for skill in skills %}

              <li class="list-group-item"> {{user.skill}} </li>
           
            {% endfor %}
           {% else %}
              <li class="list-group-item"> No Skills Listed </li>
         {% endif %}
          </ul>
        </div>
    </div>
  </div>
<!-- End :Skills -->


<!-- Section:Course  -->
  <div class="row">
    <div class="col-md-12">
        <div class="card card-block">
          <h2 class="card-title" style="color:#009688"><i class="fa fa-book fa-fw"></i>Courses</h2>
          <div style="height: 15px"></div>
          <table class="table table-bordered">
            <thead class="thead-default" >
              <tr>

              <th>Subject</th>
                <th>Course Name</th>
    
              </tr>
            </thead>
            <tbody>
                   {% if skills %}

            {% for course in courses %}
            <tr>
                <td>{{user.subject}}</td>
                <td>{{user.course_name}}</td>
             
              </tr>
            {% endfor %}

         {% endif %}
             
            
            </tbody>
          </table>
        </div>
    </div>
  </div>
<!-- End:Class Observing -->

{% endblock content %}
